.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  background-color: #464646;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(./images/bg.jpg);
}

.app-main {
  max-width: 1075px;
  margin: 0 auto;
  width: 95%;
}

.app-container {
  margin-top: 100px;
  margin-bottom: 200px;
  justify-content: center;
  align-items: center;
}