.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FB3F6C;
}

.app-main {
  max-width: 1075px;
  margin: 0 auto;
  width: 95%;
}

.app-container {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}