@import url("https://fonts.googleapis.com/css?family=Lato:300,500");

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-display: swap;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

body {
	margin: 0;
	padding: 0;
}